* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #0380d3;
  --secondary-color: #f0f0f0ff;
  --text-color-span: #ff8c00;
  --text-warning: #ba0707;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: var(--primary-color);
}

/* banner*/
.banner-bienvenida {
  height: 585px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../views/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  color: white;
  max-width: 600px;
  padding: 20px;
}

/* About Section */

.about-us {
  padding: 40px;
  margin-bottom: 60px;
}

.text-box-about {
  padding: 30px 0 0px 30px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/*Imagen ubicada en la section about-us*/
#image {
  max-width: 100%;
  height: auto;
  padding: 50px;
  margin-left: 20px;
  border-radius: 20px;
}

/* Login Form Styles */
.login {
  padding: 20px;
}

.login-form {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.login-form:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

#login-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bold;
  color: var(--primary-color)
}


/*Input field styles*/
.form-label {
  font-size: 1rem;
  font-weight: 600;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
}

.form-control:focus {
  border-radius: 0%;
  box-shadow: none;
  outline: none;
}

/** Servicios */
#services {
  border: 1px solid #ddd;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}  

#services:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

.team {
  padding-top: 50px;
  display: flex;
  align-items: center;
    
}


#colaboradores_foto:hover {
  padding: 15px;  
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

#text-colaboladores {
  font-weight: bold;
  font-size: 18px;
}


/*footer*/

#footer {
  height: 350px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../views/footer_bg.jpg");
}

.contactos {
  margin: 30px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contactos-footer {
  font-size: 0.9rem;
}

.menus {
  list-style-type: none;
}

#link-menus {
  text-decoration: none;
  color: white;
  text-align: start;
}

.form-footer {

  padding: 10px;
  margin: 10px;
}


.label-footer {
  color: white;
  font-size: 0.8rem;
}

.input-footer {
  width: 100%;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid var(--secondary-color);
  background-color: transparent;
}

/*****************************************************************************************************************************************************************************************************************************************************************/
/*ESTILOS PARA EL FORMULARIO DE registro_usuario.php */
.rol {
  padding: 200px;
  margin: 100px;
}

.registro_usuario {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  margin: 100px;
  box-shadow: 0 0 10px rgba(1, 44, 84, 0.664);
  font-size: 0.9rem;
  border-radius: 10px;
}

#input {
  padding: 30px 0 20px 0;
  margin: 15px;
  border-radius: 10px;
 
}

.input-registro {
  width: 70%;
  padding: 5px;
}