* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #0380d3;
  --secondary-color: #f0f0f0ff;
  --text-color-span: #ff8c00;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */
.navbar {
  background-color: var(--primary-color);
}

/* banner*/
.banner-bienvenida {
  height: 585px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../views/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-box {
  color: white;
  max-width: 600px;
  padding: 20px;
}

/* About Section */

.text-box-about {
  padding: 30px 0 0px 30px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

/*Imagen ubicada en la section about-us*/
#image {
  max-width: 100%;
  height: auto;
  padding: 50px;
  margin-left: 20px;
  border-radius: 10px;
}

/* Login Form Styles */
.login-form {
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 0.9rem;
}

#login-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    color: var(--text-color-span)
}


/*Input field styles*/
.form-label {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    background-color: transparent;
}

.form-control:focus {
    border-radius: 0%;
    box-shadow: none;
    outline: none;
}




