* { 
    box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

:root {
    --primary-color: #0380d3;
    --secondary-color: #f0f0f0ff;
    --text-color-span: #ff8c00;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

}


/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
}


/* banner*/
.banner-bienvenida {
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../views/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.text-box {
    color: white;
    max-width: 600px;
    padding: 20px;
}

/* About Section */

.text-box-about {
    padding: 30px 0 0px 30px;
    margin: 10px;
}

.image-box-about {
    padding: 30px 30px 0 0;
    margin: 10px;
}

